@inherits InputBase<string>


<div class="page__input">
    <label class="page__input__title">@Label</label>
    <textarea  id="@Name"
               class="page__input__box @CssClass"
               @bind="CurrentValueAsString" />
    <ValidationMessage For="For" class="page__input__validation"></ValidationMessage>
</div>
