
<ContextMenu Id="userContextMenu">
    <Item CssClass="options-popup__button">
        <p class="options-popup__button__text">Zobacz profil</p>
        <span class="options-popup__button__icon material-icons">
            visibility
        </span>
    </Item>
    <Item CssClass="options-popup__button">
        <p class="options-popup__button__text">Usuń użytkownika</p>
        <span class="options-popup__button__icon material-icons">
            delete_forever
        </span>
    </Item>
</ContextMenu>