@inherits LayoutComponentBase

<div class="page">
    <div class="page__circle" id="page__circle-1"/>
    <div class="page__circle" id="page__circle-2"/>
    <div class="page__content main">
        <NavMenu/>
        <div class="main__content">
            @Body

        </div>
    </div>
</div>
<PIZZA.WebAssembly.Shared.Users.ContextMenuComponent/>