.configuration__page {
  background: #E5E5E5;
  min-height: 100vh;
  display: flex;
  flex-flow: column; }
  .configuration__page__content {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 10px;
    margin-bottom: 50px; }
