<div class="navigation">
    <div class="navigation__topbar">
        <a class="logo" href="/">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="logo__item logo__item--transition" viewBox="0 0 146 162">
                <g>
                    <polygon class="logo__svg__fill--transparent" points="21.66 51.3 21.66 111 73 140.78 124.33 111.14 124.33 51.3 72.78 21.23 21.66 51.3" />
                </g>
                <path class="logo__svg__fill--main" d="M48.67,80v50l10.75,6.24L72.6,108.87Zm51.1-39.75-8.56,5,7.1,10.23,6.06-12.58Zm-10.28,6-40.82,24v6.54l24.89,30.06L97.31,57.55Zm9.13,13.17L75,108.58l14.74,17.8L114,81.58Zm0,0L75,108.58l14.74,17.8L114,81.58Zm30.7-2-13,24,26.31,37.93,8.71-16.26V70.29Zm13.53,65.76-9.18,17.14,15-8.69Zm-52.8,6.73-9.93,18.31L100,159.77,110,154ZM74,110.57,61.14,137.24l17.25,10,10.28-19Zm41.25-27.15L91.07,128l20.67,25,18.64-10.76,11.18-20.86Zm28.66,37.81,6.53,9.43h0l.89-.52V107.36ZM98.62,59.44,75,108.58l14.74,17.8L114,81.58Zm0,0L75,108.58l14.74,17.8L114,81.58Zm7.49-15.53L99.62,57.37l15.43,22.24L127.6,56.44Z" transform="translate(-27 -19)" />
                <line class="logo__svg__fill--none" x1="79.1" y1="24.91" x2="77.37" y2="23.9" />
                <line class="logo__svg__fill--none" x1="64.21" y1="26.25" x2="62.49" y2="27.27" />
                <path class="logo__svg__fill--white" d="M48.67,70.29" transform="translate(-27 -19)" />
            </svg>
        </a>
        <button class="navigation__toggler material-icons" @onclick="ToggleNavMenu">
            menu_open
        </button>
    </div>
    <ul class="@NavMenuCssClass navigation__list">
        <li class="navigation__item navigation__toggler--nav">
            <NavLink class="navigation__link"  @onclick="ToggleNavMenu">
                <span class="navigation__icon material-icons">
                    menu_open
                </span>

            </NavLink>
        </li>
        <li class="navigation__item">
            <NavLink class="navigation__link" href="tasks" >
                <span class="navigation__icon material-icons">
                    task_alt
                </span>

            </NavLink>
        </li>
        <li class="navigation__item">
            <NavLink class="navigation__link" href="users">
                <span class="navigation__icon material-icons">
                    account_circle
                </span>
            </NavLink>
        </li>
        <li class="navigation__item">
            <NavLink class="navigation__link" href="fetchdata">
                <span class="navigation__icon material-icons">
                    insert_drive_file
                </span>
            </NavLink>
        </li>
    </ul>
</div>



<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
