<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Configured" value="False" />
    <add key="ConnectionString" value="" />
    <add key="JwtIssuer" value="https://localhost" />
    <add key="JwtAudience" value="https://localhost" />
    <add key="JwtExpiryInDays" value="1" />
    <add key="JwtSecurityKey" value="" />
  </appSettings>
</configuration>
