@inherits InputBase<bool>

<div class="instalation__input">
    <label class="instalation__input__title">@Label</label>
    <div class="instalation__input__right">
        <div>
            <input type="checkbox" id="@Name"
                    class="instalation__input__input @CssClass"
                    @bind="CurrentValue"/>
            <small class="instalation__input__description">
                @Description
            </small>
            <ValidationMessage For="For"
                               class="instalation__input__validation_message" />
        </div>
    </div>
</div>
