<ContextMenuTrigger Data="Employee" WrapperTag="tr" MouseButtonTrigger="MouseButtonTrigger.Right" MenuId="userContextMenu">
    <td class="tasks__table__icon material-icons">
        task_alt
    </td>
    <td class="tasks__table__name">
    </td>
    <td class="tasks__table__state">
    </td>
    <td class="tasks__table__actualization_date">
    </td>
    <td class="tasks__table__priority">
    </td>
    <td class="tasks__table__deadline">
    </td>
    <td class="tasks__table__options" >
        <ContextMenuTrigger MouseButtonTrigger="MouseButtonTrigger.Both" MenuId="taskContextMenu">
            <svg class="svg__options" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 47.36">
                <circle cx="23.57" cy="23.79" r="23.57" />
                <circle cx="96" cy="23.57" r="23.57" />
                <circle cx="168.43" cy="23.57" r="23.57" />
            </svg>
        </ContextMenuTrigger>
    </td>
</ContextMenuTrigger>
