@code{
    [Parameter]
    public PopupChangePasswordModel Model { get; set; }
}

<h2 class="popup__header">zmiana hasła</h2>
<div class="popup__content">
    <InputFieldText Label="Hasło"
                    Name="@nameof(Model.PasswordModel.Password)"
                    @bind-Value="Model.PasswordModel.Password"
                    For="()=>Model.PasswordModel.Password" />
    <InputFieldText Label="Powtórz hasło"
                    Name="@nameof(Model.PasswordModel.ConfirmPassword)"
                    @bind-Value="Model.PasswordModel.ConfirmPassword"
                    For="()=>Model.PasswordModel.ConfirmPassword" />
    <InputFieldCheckbox Label="Wymuś zmianę hasła przy pierwszym logowaniu"
                        Name="@nameof(Model.PasswordModel.ForcePasswordChangeWhileNextLogin)"
                        @bind-Value="Model.PasswordModel.ForcePasswordChangeWhileNextLogin"
                        For="()=>Model.PasswordModel.ForcePasswordChangeWhileNextLogin" />
</div>

