.page {
  background: linear-gradient(0.7rad, #FF8FFF, #82E6FF);
  min-height: 100vh;
  min-width: 100vw;
  display: flex; }
  .page__content {
    margin: auto;
    border-radius: 45px;
    background: linear-gradient(2.6rad, rgba(255, 255, 255, 0.26), rgba(255, 255, 255, 0.14));
    border: 2px solid rgba(255, 255, 255, 0.23);
    box-shadow: rgba(0, 0, 0, 0.03) 15px 15px 6px;
    backdrop-filter: blur(15px); }

.authentication {
  width: 650px;
  height: 780px;
  display: flex;
  flex-flow: column; }
  .authentication__logo {
    height: 160px;
    width: 100%;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 45px 45px 0 0;
    border-left: 1px solid rgba(255, 255, 255, 0.23);
    border-top: 1px solid rgba(255, 255, 255, 0.23);
    border-right: 1px solid rgba(255, 255, 255, 0.23); }
  .authentication__header {
    width: 100%;
    background: rgba(255, 255, 255, 0.15);
    text-align: center;
    height: 80px;
    line-height: 80px;
    font-family: 'Titillium Web';
    font-weight: 300;
    color: #64008E;
    font-size: 1.7rem;
    margin-bottom: 0; }
  .authentication__form {
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
    display: flex;
    flex-flow: column; }
  .authentication__input, .authentication__button {
    outline: none;
    border: none;
    background: rgba(255, 255, 255, 0.3);
    color: #64008E;
    font-family: 'Open Sans';
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(0, 0, 0, 0.03) 15px 15px 6px;
    transition: 0.4s ease box-shadow, 0.2s ease background; }
    .authentication__input:active, .authentication__input:hover, .authentication__button:active, .authentication__button:hover {
      box-shadow: rgba(0, 0, 0, 0.03) 10px 10px 3px; }
    .authentication__input:active, .authentication__button:active {
      background: rgba(235, 235, 235, 0.3); }
    .authentication__input:not(:first-child), .authentication__button:not(:first-child) {
      margin-top: 30px; }
    .authentication__input:first-child, .authentication__button:first-child {
      margin-top: auto; }
    .authentication__input:last-child, .authentication__button:last-child {
      margin-bottom: auto; }
  .authentication__input {
    width: 360px;
    height: 60px;
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: rgba(0, 0, 0, 0.03) 15px 15px 6px; }
    .authentication__input::placeholder {
      color: #64008E; }
    .authentication__input:focus {
      background: rgba(235, 235, 235, 0.3);
      box-shadow: rgba(0, 0, 0, 0.03) 10px 10px 3px; }
  .authentication__button {
    height: 76px;
    width: 235px;
    margin-top: 50px;
    border-radius: 38px; }
    .authentication__button:focus {
      outline: none; }
