@charset "UTF-8";
.page {
  background: #ff8fff;
  background: linear-gradient(1RAD, #ff8fff 7%, #b2f3f0 47%, #ff94f7 63%, #82e6ff 93%);
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  position: relative;
  overflow: hidden; }
  .page__circle {
    position: absolute;
    height: 390px;
    width: 390px;
    border-radius: 50%;
    background: transparent;
    box-shadow: rgba(0, 0, 0, 0.03) 15px 15px 6px; }
  .page__content {
    margin: auto;
    border-radius: 45px;
    background: linear-gradient(2.6rad, rgba(255, 255, 255, 0.26), rgba(255, 255, 255, 0.14));
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: rgba(0, 0, 0, 0.03) 15px 15px 6px;
    backdrop-filter: blur(10px); }
    @media only screen and (max-width: 641px) {
      .page__content {
        display: flex;
        flex-flow: column; } }
  .page__h1 {
    color: #008CC9;
    font-weight: 600;
    margin-right: auto; }
  .page__header {
    display: flex;
    flex-wrap: wrap; }
  .page__options {
    margin-top: 1rem;
    width: 100%;
    border-bottom: 1px solid white;
    min-height: 2.5rem;
    display: flex;
    flex-wrap: wrap; }
    .page__options__button {
      display: flex;
      background: none;
      border: none;
      text-decoration: none !important;
      align-items: center;
      cursor: pointer; }
      .page__options__button:focus, .page__options__button:active {
        outline: none; }
      .page__options__button:hover p {
        color: #64008E; }
      .page__options__button__icon {
        color: #008CC9;
        font-size: 28px !important;
        padding-left: 15px; }
      .page__options__button__text {
        transition: all 0.2s;
        margin-top: auto;
        margin-bottom: auto;
        font-size: 1.1rem;
        color: #707070;
        padding-right: 15px;
        padding-left: 5px; }
      .page__options__button::after {
        content: '';
        border-left: 1px solid white;
        height: 50%; }
      .page__options__button:last-child::after {
        content: '';
        border: none; }
  .page__col {
    margin-top: 20px;
    margin-bottom: 20px; }
    .page__col__col {
      break-inside: avoid;
      padding: calc(45px / 2);
      background-color: rgba(255, 255, 255, 0.4);
      border-radius: 45px;
      margin-bottom: 20px;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); }
      .page__col__col--span-all {
        column-span: all; }
      .page__col__col--break-after {
        break-after: column; }
      .page__col__col__h {
        padding-left: 10px;
        padding-right: 10px;
        border-bottom: 1px solid white; }
        .page__col__col__h h3 {
          color: #008CC9; }
        .page__col__col__h h4 {
          font-size: 0.9rem;
          padding-left: 2px; }
      .page__col__col__content {
        display: flex;
        flex-flow: column;
        margin-top: 10px; }
    .page__col--two-col {
      column-count: 2;
      column-gap: 20px;
      column-width: 30rem; }
  .page__input {
    margin-bottom: 10px; }
    .page__input--nomarigin {
      margin-bottom: 0; }
    .page__input--scale07 {
      transform: scale(0.7); }
    .page__input__title {
      display: block;
      padding-left: 20px; }
    .page__input textarea {
      resize: none;
      height: 17rem; }
    .page__input__box {
      border-radius: calc(48px/2);
      border: 1px solid white;
      outline: none;
      height: 40px;
      width: 100%;
      background: rgba(255, 255, 255, 0.34);
      padding-left: 24px;
      font-family: 'Open Sans';
      font-size: 1.3rem;
      box-shadow: rgba(0, 0, 0, 0.03) 15px 15px 6px;
      transition: 0.4s ease box-shadow, 0.2s ease background; }
      .page__input__box:focus {
        background: rgba(235, 235, 235, 0.3);
        box-shadow: rgba(0, 0, 0, 0.03) 10px 10px 3px; }
      .page__input__box:disabled {
        border: none;
        background: transparent; }
    .page__input .validation-message {
      list-style: none;
      color: red;
      padding-top: 5px;
      padding-left: 20px;
      font-size: 0.9rem; }
    .page__input--hidden {
      border-radius: calc(48px/2);
      background: transparent;
      font-weight: 600;
      color: #212529;
      outline: none;
      height: 40px;
      width: 100%;
      transition: 0.4s ease all, 0.1s ease-out border;
      border: 0px solid white;
      box-sizing: border-box; }
      .page__input--hidden.modified.valid, .page__input--hidden.invalid, .page__input--hidden:focus {
        border: 1px solid white;
        padding-left: 24px;
        padding-right: 24px;
        background: rgba(255, 255, 255, 0.3);
        box-shadow: rgba(0, 0, 0, 0.03) 10px 10px 3px; }
      .page__input--hidden.modified.valid {
        background: rgba(55, 255, 55, 0.3); }
      .page__input--hidden.invalid {
        background: rgba(255, 55, 55, 0.3); }
  .page__submit {
    border-radius: calc(48px/2);
    outline: none;
    height: 40px;
    width: 100%;
    background: #008CC9;
    color: white;
    padding-left: 24px;
    padding-right: 24px;
    font-family: 'Open Sans';
    font-size: 1.3rem;
    border: none; }
    .page__submit:active, .page__submit:focus {
      outline: none; }
    .page__submit:hover {
      background: #0088c4; }
  .page__search {
    position: relative;
    height: 48px;
    max-width: 380px;
    width: 100%; }
    @media only screen and (max-width: 641px) {
      .page__search {
        max-width: initial; } }
    .page__search__input {
      border-radius: calc(48px/2);
      border: 1px solid white;
      outline: none;
      height: 100%;
      width: 100%;
      background: rgba(255, 255, 255, 0.34);
      padding-left: 24px;
      font-family: 'Open Sans';
      font-size: 1.3rem; }
      .page__search__input::-webkit-search-cancel-button {
        padding-right: 50px;
        margin-left: 10px; }
    .page__search__button {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 48px;
      border: none;
      background: transparent;
      font-size: 2rem !important;
      margin-right: 10px;
      color: #008CC9;
      transition: all 0.2s; }
      .page__search__button:hover {
        color: #64008E; }
      .page__search__button:focus, .page__search__button:active {
        outline: none; }
  .page__table {
    width: 100%; }
    .page__table th {
      text-transform: uppercase;
      font-size: 1.1rem;
      color: #707070;
      font-weight: 400;
      white-space: nowrap;
      padding-left: 10px;
      padding-right: 10px;
      cursor: pointer; }
    .page__table tbody tr:hover {
      background: rgba(255, 255, 255, 0.3); }
    .page__table td {
      color: #008CC9;
      font-size: 1.1rem;
      padding-left: 10px;
      padding-right: 10px; }
    .page__table--asc, .page__table--desc {
      color: #151515 !important; }
      .page__table--asc::after, .page__table--desc::after {
        position: absolute; }
    .page__table--asc::after {
      content: '▲'; }
    .page__table--desc::after {
      content: '▼'; }
    .page__table--full-width-cell {
      text-align: center; }

#page__circle-1 {
  top: 400px;
  left: -30px;
  background: linear-gradient(2.5rad, rgba(255, 255, 255, 0) 0%, #82E6FF 120%); }

#page__circle-2 {
  bottom: 400px;
  right: -150px;
  backdrop-filter: blur(15px);
  background: linear-gradient(2.5rad, #FFFFFF00 0%, #FF8FFF 120%); }

.authentication {
  width: 650px;
  height: 780px;
  display: flex;
  flex-flow: column; }
  .authentication .valid.modified:not([type=checkbox]) {
    border: 1px solid #26b050; }
  .authentication .invalid {
    border: 1px solid red; }
  .authentication__logo {
    height: 160px;
    width: 100%;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 45px 45px 0 0;
    border-left: 1px solid rgba(255, 255, 255, 0.23);
    border-top: 1px solid rgba(255, 255, 255, 0.23);
    border-right: 1px solid rgba(255, 255, 255, 0.23); }
  .authentication__header {
    width: 100%;
    background: rgba(255, 255, 255, 0.15);
    text-align: center;
    height: 80px;
    line-height: 80px;
    font-family: 'Titillium Web';
    font-weight: 300;
    color: #64008E;
    font-size: 1.7rem;
    margin-bottom: 0; }
  .authentication__form {
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
    display: flex;
    flex-flow: column; }
  .authentication__input, .authentication__button {
    outline: none;
    border: none;
    background: rgba(255, 255, 255, 0.3);
    color: #64008E;
    font-family: 'Open Sans';
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(0, 0, 0, 0.03) 15px 15px 6px;
    transition: 0.4s ease box-shadow, 0.2s ease background;
    border: white 1px solid; }
    .authentication__input:active, .authentication__input:hover, .authentication__button:active, .authentication__button:hover {
      box-shadow: rgba(0, 0, 0, 0.03) 10px 10px 3px; }
    .authentication__input:active, .authentication__button:active {
      background: rgba(235, 235, 235, 0.3); }
    .authentication__input:not(:first-child), .authentication__button:not(:first-child) {
      margin-top: 30px; }
    .authentication__input:first-child, .authentication__button:first-child {
      margin-top: auto; }
    .authentication__input:last-child, .authentication__button:last-child {
      margin-bottom: auto; }
  .authentication__input {
    width: 360px;
    height: 60px;
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: rgba(0, 0, 0, 0.03) 15px 15px 6px; }
    .authentication__input::placeholder {
      color: #64008E; }
    .authentication__input:focus {
      background: rgba(235, 235, 235, 0.3);
      box-shadow: rgba(0, 0, 0, 0.03) 10px 10px 3px; }
  .authentication__button {
    height: 76px;
    width: 235px;
    margin-top: 50px;
    border-radius: 38px; }
    .authentication__button:focus {
      outline: none; }

.main {
  margin: 50px;
  width: 100%;
  display: flex; }
  .main__content {
    margin: 20px; }
    @media only screen and (min-width: 641px) {
      .main__content {
        width: 100%; } }
  @media only screen and (max-width: 641px) {
    .main {
      margin: 0 15px;
      border-radius: 0px; } }

.users__table__icon {
  font-size: 42px !important;
  color: #707070 !important;
  width: 60px; }
  @media only screen and (max-width: 940px) {
    .users__table__icon {
      display: none;
      width: 0; } }

@media only screen and (max-width: 700px) {
  .users__table__email {
    display: none;
    width: 0; } }

@media only screen and (max-width: 880px) {
  .users__table__phone {
    display: none;
    width: 0; } }

.users__table__admin, .users__table__manager {
  width: 100px;
  text-align: center; }
  @media only screen and (max-width: 1300px) {
    .users__table__admin, .users__table__manager {
      display: none;
      width: 0; } }

.users__table__options {
  text-align: center;
  width: 100px;
  position: relative; }
  .users__table__options svg {
    width: 28px; }
    .users__table__options svg circle {
      fill: #444444; }

.tasks__table__icon {
  font-size: 42px !important;
  color: #707070 !important;
  width: 60px; }
  @media only screen and (max-width: 940px) {
    .tasks__table__icon {
      display: none;
      width: 0; } }

.tasks__table__state {
  width: 120px; }
  @media only screen and (max-width: 1150px) {
    .tasks__table__state {
      width: 120px; } }
  @media only screen and (max-width: 650px) {
    .tasks__table__state {
      display: none;
      width: 0; } }

.tasks__table__actualization_date {
  width: 250px; }
  @media only screen and (max-width: 1400px) {
    .tasks__table__actualization_date {
      display: none;
      width: 0; } }

.tasks__table__priority {
  width: 140px; }
  @media only screen and (max-width: 1150px) {
    .tasks__table__priority {
      width: 120px; } }
  @media only screen and (max-width: 820px) {
    .tasks__table__priority {
      display: none;
      width: 0; } }

.tasks__table__deadline {
  width: 140px; }
  @media only screen and (max-width: 1020px) {
    .tasks__table__deadline {
      display: none;
      width: 0; } }

.tasks__table__options {
  text-align: center;
  width: 100px;
  position: relative; }
  .tasks__table__options svg {
    width: 28px; }
    .tasks__table__options svg circle {
      fill: #444444; }

.user__data-table, .user__task-table {
  display: table;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px; }
  .user__data-table tr, .user__task-table tr {
    height: 45px; }
  .user__data-table td, .user__task-table td {
    padding-left: 5px; }

.user__task-table tr {
  cursor: pointer;
  transition: 0.3s all;
  margin-top: 10px; }
  .user__task-table tr:hover {
    background: rgba(255, 255, 255, 0.3); }

.user__task-table__name {
  font-weight: 600; }
  .user__task-table__name .toggle-switch {
    margin-left: 0; }

.user__task-table__role {
  text-align: right;
  padding-right: 10px; }

.user__data-table td {
  width: 50%; }

.user__data-table__name {
  display: table-cell; }

.user__data-table__value {
  font-weight: 600; }
  .user__data-table__value .toggle-switch {
    margin-left: 0; }
