.toggle-switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
    margin: 0;

    &__slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #5f5e5e;
        transition: .4s;
        border-radius: 12px;
        border: white 1px solid;
    }

    input {
        visibility: hidden;
    }

    input:not(:disabled) + &__slider:before {
        position: absolute;
        content: "";
        height: 17px;
        width: 17px;
        left: 3px;
        bottom: 3px;
        background-color: white;
        transition: .4s;
        border-radius: 50%;
    }

    input:checked + &__slider {
        background-color: #00c11d;
    }

    input:focus + &__slider {
        box-shadow: 5px 5px 5px #2196F3;
    }

    input:checked + &__slider:before {
        transform: translateX(20px);
    }
}
